<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>

</head>
<body>
    <h1><%=1+2+4+2%></h1>
    <h1><%=randomnumber%></h1>
</body>
</html>

<!-- templating file ka kaam js wala kaam nahi hai. -->
<!-- Most asked question in the interview Get vs post -->
<!-- get -> this method is used to fetch  the data 
post -> this method is used to send the data 
get -> when we send the data using get the data is visible in the url
post->sending data through post will not let the data to be visible in the url
get->get is less secure 
post -> post is more secure
get -> The data which we send using get has to be restrictively a string only
post-> there is no restriction when we send the data using post we can send objects , arrays , json , form data , we have 
zero restrictions
get -> in get the data which we sent using get method has a limited length that is 2048 bytes 
post->In case of post there is no restriction with the length of the data you can send as long data as ypou want. -->

->